{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' output='js/compiled/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
