{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/jquery-min.js'
        '@AppBundle/Resources/public/js/underscore.js'
        '@AppBundle/Resources/public/js/backbone.js'
        '@AppBundle/Resources/public/js/model/User.js'
        '@AppBundle/Resources/public/js/model/Source.js'
        '@AppBundle/Resources/public/js/model/Feed.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
